{% load static %}
{% load Portfolio_extras %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}CC portfolio{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CCProPortfolio/style.css' %}">
    {% block stylesheet %}{% endblock %}
</head>
<body>
<!-- Header -->
<div class="header-wrap d-none d-md-block">
    <div class="container">
        <div class="row">

            <!-- Left header box -->
            <header class="col-6 text-left">
                <h1>Your portfolio</h1>
            </header>

        </div>
    </div>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">

        <!-- Company name shown on mobile -->
        <a class="navbar-brand d-md-none d-lg-none d-xl-none" href="#">MyCompany</a>

        <!-- Mobile menu toggle -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Main navigation items -->
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/CCProApp/">Select different currencies</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="container">
    {% block content %}
        <div class="row">
            <div class="col-sm-8">
                {% block stacked_graph %}
                    <article>
                        <h2>Portfolio development</h2>
                        <img src="portfolio_graph?params={{ request.GET }}"/>
                    </article>
                {% endblock %}

                {# get 'name', 'amount' and 'price' [USD] from the form's request parameters #}
                {# 'cryptocurrencies','cryptocurrency_1','rates' #}
                {% block portfolio_items %}
                    {% for p in portfolio %}
                        {% for c in cryptos %}
                            {% if c.name == p.name %}
                                <div class="row">
                                    <article>
                                        <h2>{{ c.name }}</h2>
                                        <img src="coin_graph?&no={{ p.no }}&currency={{ p.name }}&amount={{ p.amount }}&price={{ p.price }}"/>
                                        <h4>Bought for initial prices:</h4>
                                        <ul>
                                            <li>USD:{{ p.price }}</li>
                                            {% for r in rates.quotes %}
                                                <li>{{ r }}:{{ rates.quotes|get_item:r|mult:p.price }}</li>
                                            {% endfor %}
                                        </ul>
                                        <h5>Purchased total of: {{ p.amount|mult:p.price }} USD</h5>

                                        <h4>Prices now:</h4>
                                        <ul>
                                            <li>USD:{{ c.price_usd }}</li>
                                            {% for r in rates.quotes %}
                                                <li>{{ r }}:{{ rates.quotes|get_item:r|mult:c.price_usd }}</li>
                                            {% endfor %}
                                        </ul>
                                        <h5>Sell now total of: {{ p.amount|mult:p.price }} USD</h5>
                                    </article>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
            </div>
            {% include "CCProPortfolio/reddits.html" %}
        </div>
    {% endblock %}
</main>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% block javascript %}
{% endblock %}
</body>
</html>