{% load static %}
{% load Portfolio_extras %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}CC portfolio{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    {% block stylesheet %}{% endblock %}
</head>
<body>
<header>
    <h1>Your portfolio</h1>
</header>
<main>
    {% block content %}
        {% for c in cryptos %}
            <h3>{{ c.name }}</h3>
            <h4>Prices:</h4>
            <ul>
            <li>USD:{{ c.price_usd }}</li>
                {% for r in rates.quotes %}
                    <li>{{ r }}:{{ rates.quotes|get_item:r|mult:c.price_usd }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endblock %}
</main>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% block javascript %}
{% endblock %}
</body>
</html>