<div class="row">
    <div class="col">
        Currency name: <select name="currency_{{ formId }}" id="currency_{{ formId }}"
                               onclick="currencySelected({{ formId }})">
        <option value=" ">-</option>
        {% for c in cryptocurrencies %}
            <option value="{{ c.name }}" id="name_{{ formId }}">{{ c.name }}</option>
        {% endfor %}
    </select><br>
        Amount: <input type="number" id="amount_{{ formId }}" name="amount_{{ formId }}" step="0.1"
                       value="{{ amount_formId }}">&nbsp;&nbsp;&nbsp;pcs<br>
        Price: <input type="number" id="price_{{ formId }}" name="price_{{ formId }}" step="0.1">&nbsp;&nbsp;&nbsp;$<br>
        <br>
    </div>
</div>